click
cloudpathlib
cookiecutter
dask
fsspec
geopandas
h5py
intake
intake-xarray
intake-geopandas
matplotlib
netcdf4
numpy
oceanum<0.8
owslib
pandas
pydantic<2
pydantic_numpy
scipy
tqdm
xarray
wavespectra
